div#mep_event_pp_meta_boxes table.form-table {
    width: 100%;
}

div#mep_event_pp_meta_boxes td,
div#mep_event_pp_meta_boxes th,
div#mep_event_pp_meta_boxes td input,
div#mep_event_pp_meta_boxes td select {
    display: block;
    max-width: 100%;
    width: auto;
}

input#_mep_enable_pp_deposit {
    display: inline-block!important;
}

.mep_style_ta_l {
    text-align: left;
}

.mep_style_ta_r {
    text-align: right;
}

.wcpp-no-data {
    font-weight: 700;
    color: #a88000;
    font-size: 16px;
}

.wcpp-img-sm {
    width: 80px
}

.wcpp-btn {
    background: #60a0ec;
    border: 1px solid #60a0ec;
    padding: 8px;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.mepp_d_abs {
    position: absolute;
}

.mepp-page-heading {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-right: 20px;
    color: #555;
}

.mepp-table-container {
    padding: 10px;
    background: #ffffff;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: -1px 0 3px 2px #edebeb;
}

.mepp-table {
    width: 100%;
    border-collapse: collapse;
}

.mepp-table th {
    text-align: center;
}

.mepp-table td {
    padding: 10px 5px;
    text-align: center;
    position: relative;
}

.mepp-table tbody>tr:nth-child(odd) {
    background: #ecf5fd
}

.mepp-table tbody tr:nth-child(even) {
    background: #fff
}

.mepp-table tr.active {
    background: #d3ffe0;
}

.mepp-table thead tr {
    background: #162748;
}

.mepp-table>thead th {
    color: #fff;
    padding: 5px;
}

.mepp-form-inner {
    display: flex;
    align-items: flex-end;
}

.mepp-form-group label {
    display: block;
}

.mepp-form-group button {
    padding: 12px 15px;
    border-radius: 5px;
    border: 1px solid #a2a2a2;
    background: #867643;
    color: #fff;
}

.mepp-table tr th:first-child,
.mepp-table tr td:first-child {
    border-left: 0;
}

.mepp-table tr th:last-child,
.mepp-table tr td:last-child {
    border-right: 0;
}

.mepp-table tr:last-child td {
    border-bottom: 0;
}

.mepp-filter-container {
    margin-bottom: 20px;
    margin-right: 20px;
}

.mepp-filter-container input,
.mepp-filter-container select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    min-width: 250px;
}

.wcpp-filter-loader {
    display: none;
}

.wcpp-filter-loader img {
    width: 27px;
    vertical-align: text-bottom;
    margin-left: 2px;
}

.wcpp-btn.mep-view-order {
    margin-right: 3px;
}

.wcpp-btn.mep-edit-order {
    background: #ffa032;
    border-color: #ffa032;
    margin-right: 3px;
    line-height: 1.9;
}

.wcpp-partial-order-table .mep-pp-history-table {
    background: #dfdfdf96;
    color: #373737;
    border-collapse: collapse;
}

.wcpp-btn.mep-view-history {
    background: #fc6f64;
    border-color: #fc6f64;
}

.wcpp-partial-order-table .mep-pp-history-table th,
.wcpp-partial-order-table .mep-pp-history-table td {
    text-align: center!important;
}

.wcpp-partial-order-table .mep-pp-order-detail-table th,
.wcpp-partial-order-table .mep-pp-order-detail-table td {
    text-align: center;
}

.wcpp-partial-order-action-container {
    display: flex;
    justify-content: center;
    height: 42px;
}

.wcpp-partial-order-action-loader {
    margin-right: 3px;
    visibility: hidden;
}

.woocommerce-column__title {
    color: #437385;
    text-transform: capitalize;
    text-decoration: underline;
}

.mep-pp-history-table tr:last-child td {
    border-bottom: 2px solid #f26190;
}

.mepp-admin-page-header {
    background: #162748;
    border-bottom: 1px solid #959393;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.mepp-admin-page-header h3 {
    font-weight: 700;
    color: #fff;
    font-size: 20px;
}

.mepp-admin-page-header small {
    font-size: 12px;
    margin-left: 10px;
}

.mepp-admin-setting-page {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
}

@media only screen and (max-width: 782px) {
    .mepp-admin-setting-page {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.mepp-admin-setting-page .mepp-tab-menu {
    margin-bottom: 20px;
    position: relative;
    width: 20%;
    float: left;
    min-width: 100px;
}

.mepp-admin-setting-page .mepp-tab-menu #mepp-setting-saved-notification {
    position: absolute;
    right: 10px;
    top: -7px;
    font-size: 14px;
    color: #fdfdfd;
    background: #565656;
    padding: 5px 15px;
}

.mepp-admin-setting-page .mepp-tab-menu ul li a.active-a {
    background: #00aa6a !important;
    color: #fff !important;
    font-weight: bold;
    border-bottom: 1px solid #959393;
}

.mepp-admin-setting-page .mepp-tab-menu ul li a {
    text-decoration: none !important;
    color: #ffffff;
    padding: 12px 25px;
    background-color: #162748;
    transition: 0.3s;
    font-weight: normal;
    border-bottom: 1px solid #959393;
}

.mepp-admin-setting-page .mepp-tab-menu ul li a:hover {
    background: #00aa6a;
    transition: 0.3s;
}

.mepp-admin-setting-page .mepp-tab-menu ul {
    position: relative;
    padding: 0;
    margin: 0;
}

.mepp-admin-setting-page .mepp-tab-menu ul li a.active-a::after {
    content: "\f141";
    font-size: 30px;
    font-family: 'dashicons';
    position: absolute;
    right: -11px;
}

.mepp-tab-container form {
    width: 76.4%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
}

.mepp-admin-setting-page .mepp-tab-content {
    overflow-x: auto;
    overflow-y: hidden;
}

.mepp-admin-setting-page .mepp-tab-content table {
    border-collapse: collapse;
    width: 100%;
}

.mepp-admin-setting-page .mepp-tab-content table tr {
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
}

.mepp-admin-setting-page .mepp-tab-content table td,
.mepp-admin-setting-page .mepp-tab-content table th {
    margin-bottom: 9px;
    padding: 15px 10px;
    line-height: 1.3;
    vertical-align: middle;
}

.mepp-admin-setting-page .mepp-tab-content th {
    text-align: left;
    font-size: 14px;
    color: #000;
    width: 40%;
}

.mepp-admin-setting-page .mepp-tab-content table td {
    width: 60%;
}

.mepp-admin-setting-page .mepp-tab-content label {
    line-height: 1.1em;
    display: block;
}
.mepp-admin-setting-page .mepp-tab-content label + span {
    font-size: .8rem;
    color: #848484;
}

.mepp-admin-setting-page .mepp-tab-content input[type="text"],
.mepp-admin-setting-page .mepp-tab-content textarea,
.mepp-admin-setting-page .mepp-tab-content select {
    width: 100%;
    max-width: 100%;
    min-width: 70%;
}

.mepp-admin-setting-page .mepp-tab-content .mepp-checkbox-label {
    vertical-align: middle;
    padding: 5px 0;
}

.mepp-admin-setting-page .mepp-tab-content .mepp-input-desc {
    display: block;
    color: #787878;
}

.mepp-admin-setting-page .mepp-tab-content select option:checked  {
    background: #bdc4ff;
}

.mepp-admin-setting-page input[name="mepp_setting_save"] {
    padding: 10px 25px;
    font-weight: 700;
    border-radius: 3px;
    color: #fff;
    background: #00aa6a;
    border: 1px solid #00aa6a;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#mepp-setting-saved-notification.updated {
    border-left-color: #00a32a;
    display: block;
}


/*Mepp Modal*/


/* The Modal (background) */

.modal {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 99%;
    height: 100%;
    overflow: auto;
    background-color: rgb(206 206 206 / 57%);
}

.mepp-resend-conatiner {
    position: absolute;
    right: 5px;
    top: 5px;
}

.mepp-next-reminder-send-now {
    padding: 5px;
    background: #d63638;
    color: #fff;
    border: 1px solid #d63638;
    border-radius: 3px;
    cursor: pointer;
}

.mepp-next-reminder-send-now.mepp-resen-btn {
    background: #a59c35;
    color: #fff;
    border: 1px solid #a59c35;
}

.mepp-inner-loading {
    display: none;
}


/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    top: 30%;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 30%;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 30%;
        opacity: 1
    }
}


/* The Close Button */

.mepModalclose {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 5px;
    line-height: 1;
    background: #987b1d;
    border-bottom-left-radius: 5px;
}

.mepModalclose:hover,
.mepModalclose:focus {
    color: #ff8687;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #d2b149;
    color: white;
}

.modal-body {
    padding: 10px 10px;
    display: flex;
    justify-content: center;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #d2b149;
    color: white;
}

#wcpp-loader {
    width: 50px
}

.mepModalBtn:focus,
.mepModalBtn:visited {
    background: #d8b02c;
}


/*Mepp Modal END*/


/***********************
MEPP TAB
************************/

.mepp-tab-container {
    margin: 0;
    border-radius: 4px;
    background: #162748;
    padding: 0;
    display: flex;
}

.mepp-tab-menu ul li {
    list-style-type: none;
    display: block;
    margin: 0;
}

.mepp-tab-menu ul li a {
    text-decoration: none!important;
    color: rgba(0, 0, 0, 0.4);
    background-color: #b4cbc4;
    padding: 7px 25px;
    display: block;
    border-radius: 0px;
}

.mepp-tab-menu ul li a:focus {
    outline: none;
    box-shadow: none;
}

.mepp-tab-menu ul li a.active-a {
    background: rgb(40 40 40 / 90%)!important;
    color: #fff!important;
}

.mepp-tab {
    display: none;
}

.mepp-tab h2 {
    color: rgba(0, 0, 0, .7);
}

.mepp-tab p {
    color: rgba(0, 0, 0, 0.6);
    text-align: justify;
}

.mepp-tab-active {
    display: block;
}

.mepp-payment-plan-sett {
    display: none;
}

.mepp-promotion-container {
    padding: 8px 30px;
}

.mepp-admin-page-promotion {
    margin-top: 30px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #4d00ff, #5723ea, #5f34d5, #633fbf, #6649aa);
    box-shadow: 2px 2px 3px 2px #574585;
}

.mepp-promotion-container .mepp-promotin-title {
    color: #fff;
    font-size: 22px;
}

.mepp-promotion-container .mepp-promotional-item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.mepp-promotion-container .mepp-promotional-item-container li {
    background: url('../img/checklist_icon.png') no-repeat top left / 16px;
    padding-left: 25px;
    color: #fff;
}

.mepp-upgrade-pro-btn {
    text-decoration: none;
    color: #541af0;
    background: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    display: inline-block;
    margin: 5px 0;
    border: 1px solid #797979;
}


/***********************
CSS by ariful
************************/

.wcpp_plugin_pro_meta_link {
    color: #EA4545;
    font-weight: bold;
}

.wcpp_plugin_pro_meta_link:hover {
    color: #D04E4E;
}

.wcpp_pro_text {
    color: #fff;
    margin-left: 5px;
    background-color: #f0313187;
    padding: 3px 10px;
    border-radius: 10px;
}

.wcpp_text_disabled,
.mepp-admin-setting-page :disabled {
    color: rgba(44, 51, 56, .5) !important;
    cursor: not-allowed;
}

.wcpp_notice_info {
    margin-left: 15px;
    margin-right: 15px;
    background: #ffeaac;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #d0ba7a;
    margin-top: 10px;
}

.wcpp_get_pro_btn {
    padding: 10px 25px;
    font-weight: 700;
    border-radius: 3px;
    color: #fff;
    background: #00aa6a;
    border: 1px solid #00aa6a;
    cursor: pointer;
    text-decoration: navajowhite;
    display: inline-block;
    margin-left: 10px;
}

.wcpp_get_pro_btn:hover {
    color: #fff;
}

.wcpp_pro_ad_wrapper {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}

.wcpp_pro_ad_wrapper img {
    width: 100%;
    border-radius: 3px;
}

@media only screen and (max-width: 600px) {
    .mepp-promotion-container .mepp-promotional-item-container {
        display: block;
    }
}