:root{
    --mage-primary:#f12971;
    --mage-secondary: #666;
    --mage-dark: #333;
    --mage-light: #F2F2F2;
    --mage-white: #fff;
    --mage-black: #000;
}
@import 'old-css';
@import 'settings';