/* Shahnur */
.product-status {
    padding: 20px;
    background-color:rgb(237, 237, 237);
    margin: 10px;
    h3 {
      color: #333;
      margin: 10px 0;
      font-size: 20px;
    }
    .status-row {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 1px solid #ddd;
      width: 30%;
      &:last-child {
        border-bottom: none;
      }
    }
    .status-label {
      flex: 1;
      font-weight: bold;
      opacity: 0.8;
      transition: color 0.3s ease;
    }
    .status-value {
      flex: 1;
      font-weight: 800;
      &.enable{
        color: green;
      }
      &.disable{
        color: red;
      }
    }
  }
