.wc-deposits-options-form {
  margin-bottom: 20px;
}

.magepeople_mepp_single_deposit_form label{
    display: block;
}

.deposit-option{
    margin: 5px 0;
}

.wc-deposits-options-form  .deposit-option{
  overflow: hidden;
  height: 50px;
}

.wc-deposits-options-form .input-radio {
    display :none;
}

@media only screen {
  .wc-deposits-options-form input.input-radio:enabled ~ label {
    margin:0;

  }

  .wc-deposits-options-form input.input-radio:disabled ~ label {
    color: #797979;
    background-color: #555;
  }
}

/* TipTip CSS - Version 1.2 */

#tiptip_holder {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
}

#tiptip_holder.tip_top {
    padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
    padding-top: 5px;
}

#tiptip_holder.tip_right {
    padding-left: 5px;
}

#tiptip_holder.tip_left {
    padding-right: 5px;
}

#tiptip_content {
    font-size: 11px;
    color: #fff;
    text-shadow: 0 0 2px #000;
    padding: 4px 8px;
    border: 1px solid rgba(255,255,255,0.25);
    background-color: rgb(25,25,25);
    background-color: rgba(25,25,25,0.92);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 0 0 3px #555;
    -webkit-box-shadow: 0 0 3px #555;
    -moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
    position: absolute;
    border-color: transparent;
    border-style: solid;
    border-width: 6px;
    height: 0;
    width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
    border-top-color: #fff;
    border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
    border-bottom-color: #fff;
    border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
    border-right-color: #fff;
    border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
    border-left-color: #fff;
    border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
    margin-top: -7px;
    margin-left: -6px;
    border-top-color: rgb(25,25,25);
    border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
    margin-top: -5px;
    margin-left: -6px;
    border-bottom-color: rgb(25,25,25);
    border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
    margin-top: -6px;
    margin-left: -5px;
    border-right-color: rgb(25,25,25);
    border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
    margin-top: -6px;
    margin-left: -7px;
    border-left-color: rgb(25,25,25);
    border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #tiptip_content {
        padding: 4px 8px 5px 8px;
        background-color: rgba(45,45,45,0.88);
    }
    #tiptip_holder.tip_bottom #tiptip_arrow_inner {
        border-bottom-color: rgba(45,45,45,0.88);
    }
    #tiptip_holder.tip_top #tiptip_arrow_inner {
        border-top-color: rgba(20,20,20,0.92);
    }
}
.mepp_hidden {
    display:none!important;
}
#deposit-help-tip {
    background: rgba(80, 80, 80, 0.92);;
    padding: 1px 7px;
    color: #fff;
    border-radius:5px;
}

.wc-deposits-options-form .deposit-option {
     display: block;
     color: #475569;
     background-color: #f2f2f2;
     padding: 20px; 
     margin: 4px 0;
     border: 1px solid #939393;
    }
    #deposit-amount{
        font-weight: 700;
        color: var(--mepp-deposit-highlight);
    }
/* ***************basic style checkout *********** */

.basic-switch-checkout{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid var(--mepp-deposit-secondary);
    margin: 10px auto;
}

.basic-switch-checkout .basic-style {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    padding-left: 30px; /* Adjust to space out the custom radio */
    user-select: none; /* Prevents text selection when clicking */
}

.basic-switch-checkout .input-radio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.basic-switch-checkout .radio-btn {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    background-color: var(--mepp-deposit-primary);
    border-radius: 50%;
    border: 2px solid  var(--mepp-deposit-secondary);
    transition: background-color 0.3s, border-color 0.3s;
}

.basic-switch-checkout .input-radio:checked + .radio-btn {
    background-color: var(--mepp-deposit-highlight); /* Same as --mpev-orange */
    border-color:  var(--mepp-deposit-highlight);
}

.basic-switch-checkout .radio-btn:after {
    content: "";
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.basic-switch-checkout .input-radio:checked + .radio-btn:after {
    display: block;
}

.basic-switch-checkout .basic-style:hover .radio-btn {
    border-color: #888;
}


/* ***************basic style button*********** */
.basic-switch-woocommerce-deposits .basic-style{
        background-color: var(--mepp-deposit-primary);
        border: 1px solid var(--mepp-deposit-secondary);
        padding: 10px;
        margin: 0;
        margin-top: -1px;
        cursor: pointer;
        position: relative;
        padding-left: 50px;
        height:50px;

    }

.basic-switch-woocommerce-deposits .basic-style input[type='radio'] {
        display: none;
    }

.basic-switch-woocommerce-deposits .basic-style .radio-btn {
        position: absolute;
        left: 15px;
        top: 25px;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        border: 2px solid var(--mepp-deposit-secondary); /* Border of the radio button */
        border-radius: 50%; /* Make it round */
        background-color: #fff; /* Background color */
        transition: background-color 0.3s, border-color 0.3s;
    }

.basic-switch-woocommerce-deposits .basic-style input[type='radio']:checked + .radio-btn {
        background-color: var(--mepp-deposit-highlight); /* #ffbe00; */
        border-color: var(--mepp-deposit-highlight); /* #ffbe00; */
    }

.basic-switch-woocommerce-deposits .basic-style input[type='radio']:checked + .radio-btn::after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff; /* Dot color */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .basic-switch-woocommerce-deposits{
        margin: 10px 0;
    }

    .basic-switch-woocommerce-deposits .deposit-option{
        margin: 0;
        margin-left:0px;
        font-size: 14px;
        color: #4fa8c4;
    }


/*=================payment plans============== */
.mepp-payment-plans, .toggle-switch-woocommerce-deposits, .mepp-payment-plans h4{
    margin-bottom: 20px;
}

.mepp-payment-plans .mepp-deposited-plan{
    background-color: var(--mepp-deposit-primary);
    border: 1px solid var(--mepp-deposit-secondary);
    padding: 10px;
    margin: 0;
}

.mepp-payment-plans a {
    cursor : pointer;
    color: var(--mepp-deposit-highlight);
}
.mepp-payment-plans ul {
    list-style:none!important;
    margin: 0;
    padding: 0;
}
.mepp-payment-plans ul li{
    padding: 10px;
    border-bottom: 1px dotted var(--mepp-deposit-secondary);
}
.mepp-payment-plans ul li:last-child{
    border-bottom: 0;
}
.mepp-payment-plans ul li label{
    cursor: pointer;
}

.mepp-payment-plans ul li .plan-items,.mepp-payment-plans ul li .plan-items .items{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.payment-plan-table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px auto;
}

.payment-plan-table th, .payment-plan-table td {
    border: 1px solid var(--mepp-deposit-secondary);
    padding: 8px;
}
.payment-plan-table td:nth-child(1) {
    text-align: left;
    padding-left: 8px;
}
.payment-plan-table td:last-child {
    text-align: right;
}



/*=================deposit button switch candy============== */

.toggle-switch-woocommerce-deposits {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 52px;
  background-color:var(--mepp-deposit-primary);
  border-radius: 50px;
  border:1px solid var(--mepp-deposit-secondary);
  box-sizing: border-box;
}

.toggle-switch-woocommerce-deposits input {
  visibility: hidden;
  position: absolute;
  top: 0;
}

.switch-toggle .toggle-switch-woocommerce-deposits label {
  width: 50%;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

.toggle-switch-woocommerce-deposits .switch-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50%;
  z-index: 3;
  transition: transform .5s cubic-bezier(.77, 0, .175, 1);

}

.toggle-switch-woocommerce-deposits .switch {
    border-radius: 50px;
    background: var(--mepp-deposit-highlight);
    border:1px solid #fff;
    width:  100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.toggle-switch-woocommerce-deposits .switch div {
    width: 100%;
    text-align: center;
    opacity: 0;
    color:  #fff;
    transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
    will-change: opacity;
    position: absolute;
}

.toggle-switch-woocommerce-deposits input:nth-of-type(1):checked~.switch-wrapper {
  transform: translateX(0%);
}

.toggle-switch-woocommerce-deposits input:nth-of-type(2):checked~.switch-wrapper {
  transform: translateX(100%);
}

.toggle-switch-woocommerce-deposits input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) {
  opacity: 1;
}

.toggle-switch-woocommerce-deposits input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) {
  opacity: 1;
}
/*********************checkout mod*****************/
tr.checkout-deposit-buttons{
    padding: 5px;
}
tr.checkout-deposit-buttons td{
    padding:15px 5px;
}

tr.checkout-deposit-buttons td label.basic-style{
    padding-left:30px;
}

tr.checkout-deposit-buttons td label.basic-style .radio-btn {
    left: 5px;
    top: 50%;
}

/* *******checkout paymetn plan******* */
#mepp-payment-plans {
    margin: 0;
    padding: 5px;
}
#mepp-payment-plans .payment-plans-checkout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--mepp-deposit-secondary);
    padding: 5px;
    margin-top: -1px;
}
#mepp-payment-plans .mepp-single-plan{
    border: 1px solid var(--mepp-deposit-secondary);
    margin-top: -1px;
}
#mepp-payment-plans .mepp-single-plan table{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}
#mepp-payment-plans .mepp-single-plan table tr {
    border-bottom: 1px solid var(--mepp-deposit-secondary);
    text-align: right;
}
#mepp-payment-plans .mepp-single-plan table tbody tr:last-child {
    border-bottom: 0 !important;
}
