.wc-deposits-options-form {
  margin-bottom: 12px;
}

.wc-deposits-options-form .deposit-options {
  overflow: hidden;
  height: 50px;
}

.wc-deposits-options-form .input-radio {
    display :none;
}

@media only screen {
  .wc-deposits-options-form input.input-radio:enabled ~ label {
    margin:0;

  }

  .wc-deposits-options-form input.input-radio:disabled ~ label {
    color: #797979;
    background-color: #555;
  }
}

/* TipTip CSS - Version 1.2 */

#tiptip_holder {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
}

#tiptip_holder.tip_top {
    padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
    padding-top: 5px;
}

#tiptip_holder.tip_right {
    padding-left: 5px;
}

#tiptip_holder.tip_left {
    padding-right: 5px;
}

#tiptip_content {
    font-size: 11px;
    color: #fff;
    text-shadow: 0 0 2px #000;
    padding: 4px 8px;
    border: 1px solid rgba(255,255,255,0.25);
    background-color: rgb(25,25,25);
    background-color: rgba(25,25,25,0.92);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 0 0 3px #555;
    -webkit-box-shadow: 0 0 3px #555;
    -moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
    position: absolute;
    border-color: transparent;
    border-style: solid;
    border-width: 6px;
    height: 0;
    width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
    border-top-color: #fff;
    border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
    border-bottom-color: #fff;
    border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
    border-right-color: #fff;
    border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
    border-left-color: #fff;
    border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
    margin-top: -7px;
    margin-left: -6px;
    border-top-color: rgb(25,25,25);
    border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
    margin-top: -5px;
    margin-left: -6px;
    border-bottom-color: rgb(25,25,25);
    border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
    margin-top: -6px;
    margin-left: -5px;
    border-right-color: rgb(25,25,25);
    border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
    margin-top: -6px;
    margin-left: -7px;
    border-left-color: rgb(25,25,25);
    border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #tiptip_content {
        padding: 4px 8px 5px 8px;
        background-color: rgba(45,45,45,0.88);
    }
    #tiptip_holder.tip_bottom #tiptip_arrow_inner {
        border-bottom-color: rgba(45,45,45,0.88);
    }
    #tiptip_holder.tip_top #tiptip_arrow_inner {
        border-top-color: rgba(20,20,20,0.92);
    }
}
.mepp_hidden {
    display:none!important;
}
#deposit-help-tip {
    background: rgba(80, 80, 80, 0.92);;
    padding: 1px 7px;
    color: #fff;
    border-radius:5px;
}
.mepp-payment-plans {
    padding:10px;
}
.mepp-payment-plans a {
    cursor : pointer;
    font-size: larger;
}
.mepp-payment-plans ul {
    list-style:none!important;
}
.payment-plan-table {
    width: 100%;
    border-collapse: collapse;
}

.payment-plan-table th, .payment-plan-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.payment-plan-table th {
    background-color: #f2f2f2;
}

.payment-plan-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.wc-deposits-options-form .deposit-option {
     display: block;
     color: #475569;
     background-color: #f2f2f2;
     padding: 20px; 
     margin: 4px 0;
     border: 1px solid #939393;
    }
    #deposit-amount{
        color:#17a510;
        font-weight: 700;
    }

    .basic-style{
    width: 50%;
    border: 1px solid #e5e5e5;
    background-color: #fbfbfb;
    padding: 10px;
    margin-top: -1px;
    }
.basic-switch-woocommerce-deposits{
    margin: 10px 0;
}